<h1><%= @player_1.name %> vs. <%= @player_2.name %></h1>

<% if @lost %>
<h1> <%=@current_turn.name %> lost! </h1>

<% else %>
<div> <h3>
<%= @player_1.name %>: <%= @player_1.health %>hp
</h3></div>

<div> <h3>
<%= @player_2.name %>: <%= @player_2.health %>hp
</h3></div>

<h2><%= @current_turn.name %>'s turn</h2>

<form action="/action" method="post">
  <select name="attacks" id="attacks">
    <option value="attack">Attack</option>
    <option value="paralyse">Paralyse</option>
  </select>
  <input type="submit" value="Submit">
</form>

<% end %>